ProjetReceipe/ReceipeFood 2.0/WebContent/wsdl/WebServiceCategorie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ReceipeFood.s6" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ReceipeFood.s6" xmlns:intf="http://service.ReceipeFood.s6" xmlns:tns1="http://modele.ReceipeFood.s6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ReceipeFood.s6" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modele.ReceipeFood.s6"/>
   <element name="update">
    <complexType>
     <sequence>
      <element name="categorie" type="tns1:Categorie"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType/>
   </element>
   <element name="save">
    <complexType>
     <sequence>
      <element name="categorie" type="tns1:Categorie"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType/>
   </element>
   <element name="findAll">
    <complexType/>
   </element>
   <element name="findAllResponse">
    <complexType>
     <sequence>
      <element name="findAllReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="findById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByIdResponse">
    <complexType>
     <sequence>
      <element name="findByIdReturn" type="tns1:Categorie"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modele.ReceipeFood.s6" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.ReceipeFood.s6"/>
   <complexType name="BaseModel">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="Categorie">
    <complexContent>
     <extension base="tns1:BaseModel">
      <sequence>
       <element name="nom" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findAllRequest">

      <wsdl:part element="impl:findAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByIdRequest">

      <wsdl:part element="impl:findById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByIdResponse">

      <wsdl:part element="impl:findByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllResponse">

      <wsdl:part element="impl:findAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceCategorie">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAll">

         <wsdl:input message="impl:findAllRequest" name="findAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllResponse" name="findAllResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findById">

         <wsdl:input message="impl:findByIdRequest" name="findByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByIdResponse" name="findByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceCategorieSoapBinding" type="impl:WebServiceCategorie">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceCategorieService">

      <wsdl:port binding="impl:WebServiceCategorieSoapBinding" name="WebServiceCategorie">

         <wsdlsoap:address location="http://localhost:8090/ReceipeFood_2.0/services/WebServiceCategorie"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
