ProjetReceipe/ReceipeFood 2.0/WebContent/wsdl/WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ReceipeFood.s6" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ReceipeFood.s6" xmlns:intf="http://service.ReceipeFood.s6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ReceipeFood.s6" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findAll">
    <complexType/>
   </element>
   <element name="findAllResponse">
    <complexType>
     <sequence>
      <element name="findAllReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findAllRequest">

      <wsdl:part element="impl:findAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllResponse">

      <wsdl:part element="impl:findAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebService">

      <wsdl:operation name="findAll">

         <wsdl:input message="impl:findAllRequest" name="findAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllResponse" name="findAllResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceSoapBinding" type="impl:WebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceService">

      <wsdl:port binding="impl:WebServiceSoapBinding" name="WebService">

         <wsdlsoap:address location="http://localhost:8090/ReceipeFood_2.0/services/WebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
